################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/SSH.API/.vs

/Solution/SSH.API/SSH.API/bin
/Solution/SSH.API/SSH.API/obj

/Solution/SSH.API/SSH.Framework/bin
/Solution/SSH.API/SSH.Framework/obj

/Solution/SSH.API/SSH.Framework.Caching/bin
/Solution/SSH.API/SSH.Framework.Caching/obj

/Solution/SSH.API/SSH.Framework.CQRS/bin
/Solution/SSH.API/SSH.Framework.CQRS/obj

/Solution/SSH.API/SSH.Framework.Logging/bin
/Solution/SSH.API/SSH.Framework.Logging/obj

/Solution/SSH.API/SSH.Framewor.Persistence/bin
/Solution/SSH.API/SSH.Framewor.Persistence/obj

/Solution/SSH.API/SSH.Framework.Context/bin
/Solution/SSH.API/SSH.Framework.Context/obj

/Solution/SSH.API/SSH.Framework.Utilities/bin
/Solution/SSH.API/SSH.Framework.Utilities/obj

/Solution/SSH.API/SSH.Module.Common/obj
/Solution/SSH.API/SSH.Module.Common/bin

/Solution/SSH.API/SSH.Module.Common.Domain/obj
/Solution/SSH.API/SSH.Module.Common.Domain/bin

/Solution/SSH.API/SSH.Module.Common.Domain.Mapping/obj
/Solution/SSH.API/SSH.Module.Common.Domain.Mapping/bin
