################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/SSH.API/.vs

/Solution/SSH.API/SSH.API/bin
/Solution/SSH.API/SSH.API/obj

/Solution/SSH.API/SSH.Framework/bin
/Solution/SSH.API/SSH.Framework/obj

/Solution/SSH.API/SSH.Framework.Caching/bin
/Solution/SSH.API/SSH.Framework.Caching/obj

/Solution/SSH.API/SSH.Framework.CQRS/bin
/Solution/SSH.API/SSH.Framework.CQRS/obj

/Solution/SSH.API/SSH.Framework.Logging/bin
/Solution/SSH.API/SSH.Framework.Logging/obj

/Solution/SSH.API/SSH.Framewor.Persistence/bin
/Solution/SSH.API/SSH.Framewor.Persistence/obj
